@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Poppins";
    transition: all 0.3s; 
}

body{
    background-color: #F6F8FC;
}

header{
    padding: 1rem;

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;

    background-color: transparent;
    > svg {
        width: 8rem;
        height: fit-content;
        background: transparent;
        path{
            fill: #f0f0f0;
        }
    }
    .search{
       min-width: 60%;
       position: relative;
       padding: 1rem;
       background-color: transparent;
       input{
            width: 100%;

            border-radius: 10px;
            border: 1px solid transparent;
            padding: 15px 1rem;

            position: relative;
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.07));
            background-color: #f0f0f0;
            &:focus{
                outline: none;
            }
        }
        button{
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 2rem;
            height: 2rem;

            right: 2rem;
            top: 0; 
            bottom: 0;
            margin-top: auto; 
            margin-bottom: auto;
            border-radius: 8px;
            z-index: 2;

            background-color: #ee1515;

            border: none;

            > svg{
                width: 20px;
                background-color: transparent;                
            }

            &:hover{
                background-color: #565E6A;
                svg path{
                    fill: #FDC932;
                }
            }
        }
    }
}

section{
    margin: 0 auto;
    max-width: 90%;
    min-height: 100vh;
    padding: 6rem 3rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;

    img{
        position: relative;
        background-color: transparent;
        z-index: 9;
    }

    > article{
        min-height: 80vh;
    }

    .pokemon-img{
        position: relative;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 60%;
            padding-bottom: 1rem;
        }
        p{
            position: absolute;
            font-size: 6vw;
            bottom: 0;
            left: 0;
            letter-spacing: 7px;
            font-weight: 900;
            color: rgba(0, 0, 0, 0.30);
        }
    }

    .data{   
        width: 40%;
        background-color: #f0f0f0;
        padding: 2rem 2rem 0;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.2));
        > p{
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .title{
            text-align: center;
        }

        > div{
            margin-bottom: 1rem;
        }

        .info{
            display: flex;
            justify-content: space-evenly;
            > div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                
                font-size: small;
                text-align: center;

                color: #525252;
                font-weight: 500;
  
                p{
                    font-size: smaller;
                    color: #9b9b9b;
                }
                &:nth-child(3){
                    padding: 0;
                }
            }

            hr{
                border: none;
                border-right: 1px solid #d9d9d9;
            }
        }

        .types{
            > p{
                font-size: small;

                border: 1px solid transparent;
                border-radius: 25px;
                padding: 0.25rem 1rem;
                background-color: #565E6A;

                color: #f0f0f0;
            }
        }

        .description{
            font-size: small;
            text-align: justify;
        }

        .stats{
            display: flex;
            justify-content: space-between;
            progress {
                border-radius: 0.4rem;
                width: 100%;
                height: 0.5rem;
                &::-webkit-progress-bar{
                    background-color: var(--bar,rgb(221, 221, 221));
                    border-radius: 0.4rem;
                } 
                &::-webkit-progress-value{
                    background-color: var(--val,rgb(100, 100, 100));
                    border-radius: 0.4rem;
                }
            }
            > div{
                font-size: small;
                &:nth-child(1){
                    padding-right: 10px;
                    border-right: 1px solid #d9d9d9;
                    font-weight: 600;
                }
                &:nth-child(2){
                    padding: 0 10px;
                }
                &:nth-child(3){
                    flex: 1;
                }
            }
        }

        .evolution-chain{
            display: flex;
            justify-content: space-evenly;
            font-size: small;
            text-align: center;
            > div {
                display: none;
            }
        }

    }
}

.poke-back{
    opacity: 40%;
    position: fixed;
    top: -10%;
    left: -10%;
    width: 35%;
    z-index: 0;
    background-color: transparent;
}

.links{
    a {
        > i{
            font-size: x-large;
            color: #f0f0f0;
        }
        .fa-github:hover{
            color: #2c2c2c;
        }
        .fa-dribbble:hover{
            color: #EA4C89;
        }
        .fa-behance:hover{
            color: #053EFF;
        }
    }
}

.bottom{
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: none;
}
.top{
    display: block;
}

@media screen and (max-width: 1060px) {
    *{
        section {
            flex-direction: column;
            padding: 6rem 0 1rem;
            article{
                min-height: auto;
                min-width: 100%;
            }
            .pokemon-img p{
                font-size: 8.5vw;
            }
        }

        .top{
            display: none;
        }
        .bottom{
            display: block;
        }

        .poke-back{
            width: 41%;
        }
    }
}